/* Nanbar */
.navbar-nav{
  font-size: 18px;
}
footer {
  background-color: #070707;
  padding: 50px 50px;
}

footer img {
  width: 100px;
}

footer a {
  display: inline-block;
  color: hsla(0, 0%, 100%, .75);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px 5px;
  transition: all 0.5s ease-in-out;
}

footer a:hover {
  color: white;
  transform: scale(1.1);
}

footer .iconsdiv {
  display: flex;
  justify-content: flex-end;
}

footer .iconsdiv svg {
  font-size: 35px;
  margin-left: 20px;
}

footer .copyright {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

footer .copyright p:nth-child(2) {
  margin-left: 20px;
}